.ipynb_checkpoints/  
.git/
AccidentData Visualization.twbx
Presentation.ppt
 WambuiMunene_DSPT08_Phase1-Project(GitHub).pdf
 AccidentData Visualization__14284.twbr
 AccidentData Visualization__21408.twbr
 AccidentData Visualization__26420.twbr
